<li @onclick="OnClickCallback"
style="width: 275px"
    class="flex justify-between pl-2 pr-2 pt-1 pb-1 first:border-t border-b border-zinc-700 hover:bg-zinc-700 cursor-pointer">
    <span>@ChildContent</span>
    <Button OnClickCallback="@OnActionCallback">@ActionText</Button>
</li>


@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? ActionText { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnActionCallback { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClickCallback { get; set; }
}
