@using Spacetime.Core
@using Spacetime.Shared.Components.Typography
<table>
    <thead>
        <tr>
            <th class="text-left"><SmallCaps>Header</SmallCaps></th>
            <th class="text-left"><SmallCaps>Value</SmallCaps></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var header in Headers)
        {
            <tr>
                <td class="py-2">
                    <input class="px-4 py-2 w-5/6 border border-zinc-700 bg-zinc-800" type="text" />
                </td>
                <td class="py-2">
                    <input class="px-4 py-2 w-5/6 border border-zinc-700 bg-zinc-800" type="text" />
                </td>
            </tr>
        }
    </tbody>
</table>

@code {

    [Parameter]
    public List<HeaderDto> Headers { get; set; }
}
