@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using Fluxor
@using System.Diagnostics
@inject IProtobufService ProtobufService
@inject IDialogService DialogService
@inject IGrpcExplorer GrpcExplorer
@inject ISnackbar Snackbar
@inject IDispatcher Dispatcher
@inject GrpcRequestService GrpcRequestService

<MudGrid Class="d-flex flex-grow-1">
    <MudItem xs="12" Class="d-flex flex-column">
        <MudGrid Class="d-flex">
            <MudItem xs="3">
                <MudTextField Margin="Margin.Dense"
                              Label="Service"
                              Value="Service?.Name"
                              Placeholder="Service"
                              Variant="Variant.Outlined"
                              Class="my-4"/>
                <MudTextField Margin="Margin.Dense"
                              Label="Method"
                              Value="Method?.Name"
                              Placeholder="Method"
                              Variant="Variant.Outlined"/>
            </MudItem>
            <MudItem xs="3">
                <MudTextField Margin="Margin.Dense"
                              Class="my-4"
                              @bind-Value="Request.URL"
                              Label="Host"
                              Placeholder="http://localhost:8080"
                              Variant="Variant.Outlined"
                              Adornment="Adornment.End" AdornmentIcon="@Icons.Filled.Send" OnAdornmentClick="Execute" />
            </MudItem>
            <MudItem xs="3">
                <div class="flex flex-row my-4">
                    <MudChip Color="Color.Default">@Request.Response?.Status</MudChip>
                    <MudChip Color="Color.Default">@(Request.Response?.ElapsedMs)ms</MudChip>
                </div>
            </MudItem>
        </MudGrid>
        <MudGrid Class="d-flex flex-grow-1">
            <MudItem sm="12" md="6" Class="d-flex">
                <GrpcRequest @bind-Request="Request.Body" />
            </MudItem>
            <MudItem sm="12" md="6" Class="d-flex">
                <GrpcResponse @bind-Response="Request.Response" />
            </MudItem>
        </MudGrid>
    </MudItem>
</MudGrid>
@code {
    /*
     * todos
     * 1. Look for local running docker containers and offer to use these for server reflection
     * 2. auto set url to be whatever the user used for server reflection
     */
    
    [Parameter]
    public GrpcServiceDefinition? Service { get; set; }
    
    [Parameter]
    public GrpcMethodDefinition? Method { get; set; }

    [Parameter]
    public Spacetime.Core.gRPC.GrpcRequest Request { get; set; }

    public void OpenAddProtobuf()
    {
        var options = new DialogOptions { MaxWidth = MaxWidth.Medium, FullWidth = true };
        DialogService.Show<AddProtoDialog>("Add Protobuf", options);
    }

    private bool CanExecute()
    {
        var valid = true;

        if (Method == null || string.IsNullOrWhiteSpace(Method.Name))
        {
            Snackbar.Add("Select a gRPC Method", Severity.Error);
            valid = false;
        }

        return valid;
    }

    public async Task Execute()
    {
        if (!CanExecute())
        {
            return;
        }

        Request.MethodDefinitionId = Method.Id;
        Request.ServiceDefinitionId = Service.Id;

        Dispatcher.Dispatch(new SaveGrpcRequestAction { Request = Request });

        // todo: validate json
        Debug.Assert(Method != null);
        var grpcResponse = await GrpcExplorer.Invoke(Request.URL, Service.FullName, Method.Name, Request.Body);
        Request.Response = new SpacetimeResponse
            {
                ElapsedMs = grpcResponse.ElapsedMs,
                ResponseBody = grpcResponse.ResponseBody,
                Status = (SpacetimeStatus)grpcResponse.Status
            };

        Dispatcher.Dispatch(new SaveGrpcRequestAction { Request = Request });
    }
}
