@using Spacetime.Core
@using Spacetime.Shared.Components.Typography
@using Spacetime.Core.Infrastructure;

<div class="flex flex-col w-full">
    <MudTable Items="Headers" Hover="true" FixedHeader="true" Height="600px">
        <HeaderContent>
            <MudTh>Header</MudTh>
            <MudTh>Value</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Value">@context.Value</MudTd>
        </RowTemplate>
    </MudTable>
</div>

@code {
    [Parameter]
    public IEnumerable<HeaderDto> Headers { get; set; }
}
