@using Spacetime.Shared.Components.Typography
@using Spacetime.Shared.Components.Inputs
@using Spacetime.Core
@using Spacetime.Core.Infrastructure;

<div class="flex flex-col">
    <table>
        <thead>
            <tr>
                <th class="text-left"><SmallCaps>Query Param</SmallCaps></th>
                <th class="text-left"><SmallCaps>Value</SmallCaps></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var param in Query)
            {
                <tr>
                    <td class="py-2">
                        <input class="px-4 py-2 w-5/6 border border-zinc-700 bg-zinc-800" type="text" @bind="param.Name" />
                    </td>
                    <td class="py-2">
                        <input class="px-4 py-2 w-5/6 border border-zinc-700 bg-zinc-800" type="text" @bind="param.Value" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <MudButton OnClick="Add" Color="Color.Primary">Add header</MudButton>
</div>
@code {
    [Parameter]
    public List<QueryParamDto> Query { get; set; }

    [Parameter]
    public EventCallback<List<QueryParamDto>> QueryChanged { get; set; }

    public async void Remove(QueryParamDto param)
    {
        Query.Remove(param);
        await QueryChanged.InvokeAsync(Query);
    }

    public async void Add()
    {
        Query.Add(new QueryParamDto());
        await QueryChanged.InvokeAsync(Query);
    }
}
