@using Spacetime.Core
@using Spacetime.Core.Services
@using Spacetime.Shared.Components.Display
@using Spacetime.Shared.Components.Inputs
@using Spacetime.Core.Infrastructure;
@using Spacetime.Shared.Components.Typography
@using Spacetime.Shared.Components.Display.Table
@using Spacetime.Shared.Components.Containers.Modal

@inject IProtobufService ProtobufService

<div class="grid gap-1 grid-cols-12">
    <div class="col-span-full px-2 py-4">
        <Button ButtonType="Spacetime.Shared.Components.Inputs.ButtonType.Primary" OnClickCallback="() => { AddProtobufVisible = true; }">Add Proto File</Button>
    </div>
    <div class="col-span-3">
        <MudTreeView T="string" ExpandOnClick="true" @bind-SelectedValue="SelectedValue" Hover="true">
            @foreach (var svc in Services)
            {
                <MudTreeViewItem Value="@(svc.Name)">
                    @foreach (var method in svc.Methods)
                    {
                    <MudTreeViewItem Value="@(method.Name)" />
                    }
            </MudTreeViewItem>
            }
        </MudTreeView>
    </div>
    <div class="col-span-9 grid grid-cols-12 gap-2">
        <div class="col-span-6">
            <Code Data="" />
        </div>
        <div class="col-span-6">
            <Code Data="" />
        </div>
    </div>
    <Modal Title="Add Protobuf" @bind-IsVisible="@AddProtobufVisible"
           CancelText="Close">
        <div class="flex justify-center gap-4">
            <AddProtoView />
        </div>
    </Modal>
</div>

@code {
    string SelectedValue { get; set; }
    public bool AddProtobufVisible { get; set; }
    public GrpcServiceDefinition SelectedService { get; set; }
    public List<GrpcServiceDefinition> Services { get; set; } = new List<GrpcServiceDefinition>();
    protected override async Task OnInitializedAsync()
    {
        Services = (await ProtobufService.GetServiceDefinitions()).ToList();
    }

    public void SelectService(GrpcServiceDefinition service)
    {
        SelectedService = service;
    }
}
