@using Spacetime.Core
@using Spacetime.Core.Services
@using Spacetime.Shared.Components.Display
@using Spacetime.Shared.Components.Inputs
@using Spacetime.Core.Infrastructure;
@using Spacetime.Shared.Components.Typography
@using Spacetime.Shared.Components.Display.Table
@using Spacetime.Shared.Components.Containers.Modal

@inject IProtobufService ProtobufService

<div class="grid gap-1 grid-cols-12">
    <div class="col-span-full px-2 py-4">
        <Button ButtonType="Spacetime.Shared.Components.Inputs.ButtonType.Primary" OnClickCallback="() => { AddProtobufVisible = true; }">Add Proto File</Button>
    </div>
    <div class="shadow-sm overflow-hidden col-span-4">
        <table class="border-collapse table-auto w-full text-sm">
            <thead>
                <tr>
                    <TableHeader>Service</TableHeader>
                </tr>
            </thead>
            <tbody class="bg-white dark:bg-zinc-800">
                @foreach (var svc in Services)
                {
                    <tr class="dark:hover:bg-zinc-700 cursor-pointer" @onclick="() => { SelectService(svc); }">
                        <TableCell>@svc.Name</TableCell>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-span-8">
        @if (SelectedService != null)
        {
            <Table>
                <thead>
                    <tr>
                        <TableHeader>Method</TableHeader>
                    </tr>
                </thead>
                <TableBody>
                    @foreach (var method in SelectedService.Methods)
                    {
                        <TableRow>
                            <TableCell>@method.Name</TableCell>
                        </TableRow>
                    }
                </TableBody>
            </Table>

        }
    </div>
    <Modal Title="Add Protobuf" @bind-IsVisible="@AddProtobufVisible"
           CancelText="Close">
        <div class="flex justify-center gap-4">
            <AddProtoView />
        </div>
    </Modal>
</div>

@code {
    public bool AddProtobufVisible { get; set; }
    public GrpcServiceDefinition SelectedService { get; set; }
    public List<GrpcServiceDefinition> Services { get; set; } = new List<GrpcServiceDefinition>();
    protected override async Task OnInitializedAsync()
    {
        Services = (await ProtobufService.GetServiceDefinitions()).ToList();
    }

    public void SelectService(GrpcServiceDefinition service)
    {
        SelectedService = service;
    }
}
