@using Spacetime.Shared.Components
@inject IJSRuntime JS

@inherits LayoutComponentBase

<div class="flex">
    <div class="pt-1">
        @Body
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await JS.InvokeVoidAsync("something");
    }
}