@using Spacetime.Core.Services
@using Spacetime.Shared.Components
@using Spacetime.Shared.Icons
@using Spacetime.Shared.Components.Containers.Modal
@using Spacetime.Shared.Components.Inputs
@inject IJSRuntime JS
@inject SettingsService SettingsService

@inherits LayoutComponentBase

<div class="flex flex-col">
    <div class="border border-zinc-700 p-2 flex flex-row items-center justify-between">
        <div class="flex flex-row items-center">
            <!-- todo: replace with logo once it's done -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5.636 18.364a9 9 0 010-12.728m12.728 0a9 9 0 010 12.728m-9.9-2.829a5 5 0 010-7.07m7.072 0a5 5 0 010 7.07M13 12a1 1 0 11-2 0 1 1 0 012 0z" />
            </svg>
            <div class="pl-3">
                <span class="hover:text-white cursor-pointer">spacetime</span>
            </div>
        </div>
        <div class="align-self-end">
            <Button OnClickCallback="OpenSettings"><SettingsIcon /></Button>
        </div>
    </div>
    <div class="pt-1">
        @Body
    </div>

    @if (SettingsModalVisible)
    {
        <Modal Title="Settings" @bind-IsVisible="@SettingsModalVisible" CancelText="Cancel" ConfirmText="Apply settings" OnConfirmCallback="SaveSettings">
            <h4 class="text-xl font-semibold pb-2">Security</h4>
            <div class="p-3 flex flex-col">
                <label class="py-2"> <input type="checkbox" @bind="Settings.ValidateCertificates" />Validate SSL Certificates</label>
                <label class="py-2"> <input type="checkbox" />Unused Setting</label>
            </div>
            <h4 class="text-xl font-semibold text-red-500 pb-2">Danger Zone</h4>
            <div class="p-3 border border-red-500 rounded flex flex-col">
                <Button ButtonSize="ButtonSize.Large" ButtonType="ButtonType.Danger" Css="w-48 mb-5" OnClickCallback="@(() => {})">Reset All Settings</Button>
                <Button ButtonSize="ButtonSize.Large" ButtonType="ButtonType.Danger" Css="w-48 mb-5" OnClickCallback="@(() => {})">Reset Local Database</Button>
            </div>
        </Modal>
    }
</div>

@code {
    public SettingsDto Settings { get; set; }
    public bool SettingsModalVisible { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Settings = await SettingsService.GetSettings();
    }

    public async void OpenSettings()
    {
        SettingsModalVisible = true;
    }

    public async void SaveSettings()
    {
        await SettingsService.SaveSettings(Settings);
    }
}