@using Spacetime.Shared.Components.Display
@using Spacetime.Shared.Icons

<div class="relative">
    <button @onclick="OnDropdownClick"
            class="border border-zinc-700 hover:border-zinc-600 hover:bg-zinc-600 px-2 py-1 rounded-sm">
        @ChildContent
    </button>
    @if (IsVisible)
    {
        <div class="absolute top-8 right-0 bg-zinc-200 text-black w-48 z-10">
            <ul>
                @foreach (var item in Items)
                {
                    <DropdownItem OnClickCallback="@(e => OnItemClick())">
                        <Title>
                            @item
                        </Title>
                    </DropdownItem>
                }
            </ul>
        </div>
    }
</div>
@code {
    private bool IsVisible { get; set; }

    [Parameter]
    public List<string> Items { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClickCallback { get; set; }

    private void OnDropdownClick()
    {
        IsVisible = !IsVisible;
    }

    private async void OnItemClick()
    {
        // todo: need to pass individual item click
        IsVisible = !IsVisible;
        await OnClickCallback.InvokeAsync();
    }
}