@using Spacetime.Shared.Components.Inputs
<li @onclick="OnClickCallback"
    class="flex justify-between items-center pl-4 pr-4 pt-2 pb-2 first:border-t border-b border-zinc-700 hover:bg-zinc-300 cursor-pointer">
    
    @if (Prefix != null)
    {
        @Prefix
    }
    <span>@Title</span>

    @if (ActionTemplate != null)
    {
        <MudButton OnClick="@OnActionCallback">@ActionTemplate</MudButton>
    }
</li>


@code {
    [Parameter]
    public RenderFragment? Title { get; set; }
    [Parameter]
    public RenderFragment? Prefix { get; set; }
    [Parameter]
    public RenderFragment? ActionTemplate { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnActionCallback { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClickCallback { get; set; }
}
