<div class="flex flex-row ml-2">
    <button
    @onclick="() => SetEnabled(true)"
    class="border border-zinc-700 hover:border-zinc-600 hover:bg-zinc-600 px-2 py-1 rounded-l-sm mr-0 @(Enabled == true ? "bg-green-600" : "")">On</button>
    <button 
    @onclick="() => SetEnabled(false)"
    class="border border-zinc-700 hover:border-zinc-600 hover:bg-zinc-600 px-2 py-1 rounded-r-sm ml-0 @(Enabled == false ? "bg-gray-600" : "")">Off</button>
</div>

@code {
    private bool Enabled { get; set; } = false;

    private void SetEnabled(bool value)
    {
        Enabled = value;
    }
}
