<button @onclick="OnClickCallback"
        class="w-20 border border-neutral-700 hover:border-neutral-600 hover:bg-neutral-600 px-2 py-2 ring-offset-1 ring-inset focus:outline-none focus:ring-1 @(Key == CurrentTab ? "bg-zinc-700" : "")">
    <div class="text-xs uppercase tracking-wider font-semibold antialiased">
    @ChildContent
</div>
</button>

@code {
    [Parameter]
    public string Key { get; set; }

    [Parameter]
    public string CurrentTab { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClickCallback { get; set; }
}

