@if (CurrentTab == Key)
{
    <div class="border border-zinc-700 overflow-y-auto @Css" style="height: 600px">
        @ChildContent
    </div>
}

@code {
    [Parameter]
    public string Key { get; set; }

    [Parameter]
    public string CurrentTab { get; set; }

    [Parameter]
    public string? Css { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
