<div>
    <Tabs>
        <!-- tabs -->
        @foreach (var tab in Tabs)
        {
            <Tab OnClickCallback="@(() => SetTab(tab))">@tab</Tab>
        }
    </Tabs>
    <div>
        <!-- tab content -->
        <!-- todo: figure out how to accept a dynamic list of N tabs -->
        @ChildContent
    </div>
</div>

@code {
    // THIS COMPONENT DOES NOT YET WORK
    private List<string> Tabs { get; set; } = new List<string> { "Preview", "Headers" };
    private string CurrentTab { get; set; } = "Preview";

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    public void SetTab(string tab)
    {
        CurrentTab = tab;
    }
}
