<div class="text-zinc-100 p-2 text-xs uppercase tracking-wider font-semibold antialiased @BadgeCss @Css">@ChildContent</div>


@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public BadgeType BadgeType { get; set; } = BadgeType.Default;

    [Parameter]
    public string Css { get; set; }

    public string BadgeCss { get => GetBadgeTypeCss(); }
    private string GetBadgeTypeCss()
    {
        var css = "bg-neutral-600";

        switch (BadgeType)
        {
            case BadgeType.Success:
                css = "bg-green-600";
                break;
            case BadgeType.Danger:
                css = "bg-red-600";
                break;
        }

        return css;
    }
}
