<div @onclick="OnClick" class="border border-neutral-700 hover:border-neutral-600 hover:bg-neutral-600 px-2 py-1 rounded-sm @Css">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? Css { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClickCallback { get; set; }

    public void OnClick()
    {
        OnClickCallback.InvokeAsync();
    }
}
